body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-image: url("https://images.pexels.com/photos/3435249/pexels-photo-3435249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* background-image: url("https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
  



}
h1{
    color: gray;
    display: flex;
    justify-content: center;
    align-self: center;
}

h1:hover{
    color: aliceblue;
}





.all{
    /* border: 2px solid black; */
    background-color: rgb(255, 2555, 255,0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    /* border-radius: 40px 40px 10px 10px; */
    border-radius: 20px;

   
 
}






.my{
    padding: 1rem 1rem 1rem 1rem ;
    /* border: 2px solid grey; */
   

    
    /* border: 6px solid black; */

}

.my i{
    font-size: 1.2em;
    color: gray;
}

.my i:hover{
    color: aliceblue;

}



.my input{
    background-color: rgb(255, 2555, 255,0.1);
    /* backdrop-filter: blur(2px); */
    /* color: transparent; */
 
    color: aliceblue;
    /* border: 2px solid grey; */
    background-color: transparent;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    padding: 0em 0em 0em 0.4em;
    /* margin: 0em 0em 0.5em 0em; */
    /* margin: 0.5em 0em 0.5em 0em; */

    /* border: 2px solid grey; */
}


.but{
    display: flex;
    /* width: auto; */
    justify-content: center;
    align-self: stretch;
    
}
.first{
    margin: 0em 0em 0.5em 0em;
    border-radius: 40px;
    border-bottom: 2px solid aliceblue;
    border-color: gray;
}

.first:hover{
    border-color: aliceblue;
}


.first:active{
    border-color: aliceblue;
}

button{
    width: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    /* border: 2px solid aliceblue; */
    border-radius: 40px;
    padding: 0.5em 0em 0.5em 0em;
    color: aliceblue;
    color:gray;

    font-size: 1em;
    font-weight: bolder;
    border-bottom: 2px solid aliceblue;
    border-color:gray ;
}

button:hover{
    color: aliceblue;
    cursor: pointer;
    border-color: aliceblue;
}

button:active{
    color: gray;
    border-color: gray;
}


input:active{
    outline: none;
    background-color: transparent;

}



input:focus{
    /* background-color: aliceblue; */
    /* border: none; */
    outline: none;
    background-color: transparent;
    /* background-color: transparent; */
}

.links{
    /* border: 6px solid black; */
    display: flex;
    /* width: auto; */
    justify-content: space-between;
    align-self: stretch;
    
}



a{
    color: gray;
    font-size: 1rem;
    text-decoration: none;
}

a:hover{
    color: aliceblue;
    text-decoration: underline;
}
a:active{
    color: gray;
}